.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    height: 60px;
    padding: 0 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 10px;
  }
  
  .navbar-search input[type="text"] {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    width: 400px;
    margin: 0 !important;
  }
  
  .navbar-search button[type="submit"] {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .navbar-cart {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .navbar-cart a {
    color: #333;
    text-decoration: none;
  }
  
  .navbar-cart .cart-items {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #FF4136;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .cart-item{
    margin-top: 20px;
  }

  .products{
    display: flex;
    flex-direction: row;
  }

  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 20px;
    text-align: center;
    transition: transform .2s;
    max-width: 200px;
    margin: 0 auto;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }

  .popup-card img{
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card img {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .card-price {
    font-size: 20px;
    font-weight: bold;
    color: #FF4136;
  }
  .card-available{
    font-size: 12px;
    font-weight: 600;
  }
  
  .card-add-to-cart {
    background-color: rgb(10, 173, 10);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .2s;
    margin-bottom: 5px;
  }
  
  .card-add-to-cart:hover {
    background-color: #FF5733;
  }
  
/* side bar styles */
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
    
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
  }

  .main-content {
    pointer-events: auto;
    overflow: hidden;
  }

  .sidebar.inactive {
    display: none;
  }


  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-title{
    margin-left: 50px;
  }

  .cart-price{
    margin: 0;
  }

  .remove-item-btn {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }


  .cart-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 20px;
    text-align: center;
    transition: transform .2s;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
  }

  .cart-card>div>div>img {
    width: 40px;
    border-radius: 60px;
  }

  .cart-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .cart-desc .cart-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 15px;
  }
  .cart-quantity {
    position: relative;
    top: 5px;
    left: 25px;
    background-color: rgb(10, 173, 10);
    border-radius: 15px;
    padding: 5px;
    font-size: 11px;
    color: white;
    width: 10px;
  }

  .cart-item button{
    border: none;
    color:red;
    background-color: white;
    font-size: 20px;
  }

  /* Product card styles */
.product-card {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.btn-details {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Popup card styles */
.popup-card {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 1000px;
  height: 300px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.quantity {
  display: none;
  background-color: rgb(10, 173, 10);
  color: white;
  border-radius: 20px;
}
.quantity>button {
  margin: 0;
}
.sidebar-header {
  display: flex;
  align-items: normal;
  justify-content: space-between;
}
.sidebar-header>button {
  border: none;
}
.sidebar .sidebar-container {
  padding: 0 15px;
}
#empty-cart {
  text-align: center;
  margin-top: 100px;
}

.pre-des{
  display: flex;
  flex-direction: row;
}

.pre-amount{
  border: 1px solid rgba(235, 218, 218, 0.603);

}

.delivery{
  color: rgb(233, 115, 0);
}
.buy{
  color: rgb(212, 54, 132);
}
.des-content{
  width: 33%;
}

#card-des div:nth-of-type(1) {flex-grow: 1;}
#card-des div:nth-of-type(2) {flex-grow: 2;}
#card-des div:nth-of-type(3) {flex-grow: 4;}